<!-- Custom HTML site displayed as the Home chapter -->
{% extends "main.html" %}


<!-- Custom styles for the home site -->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ base_url }}/{{ 'assets/stylesheets/home.css' | url }}" />
    <link rel="stylesheet" href="{{ base_url }}/{{ 'assets/stylesheets/particles.css' | url }}" />
    <link rel="stylesheet" href="{{ base_url }}/{{ 'assets/stylesheets/gallery_home.css' | url }}" />
    <link rel="stylesheet" href="{{ base_url }}/{{ 'assets/stylesheets/filter_menu.css' | url }}" />
  <link rel="stylesheet" href="{{ base_url }}/{{ 'assets/stylesheets/home_footer.css' | url }}" />
    <script src="{{ base_url }}/{{ 'assets/javascripts/cards_menu.js' | url }}"></script>
{% endblock %}


<!-- Custom javascript for the home site -->
{% block libs %}
    {{ super() }}
    <script src="{{ base_url }}/{{ 'assets/javascripts/particles.js' | url }}"></script>
    <script>
        particlesJS.load('particles-js', 'assets/javascripts/particles.json', function() {
            console.log('particles.js loaded - callback');
        });
    </script>
    <script src="assets/javascripts/extra.js"></scriptsrc>></script>
{% endblock %}


{# ----------  Hero Section  ---------- #}
{% block tabs %}
  {{ super() }}
  {% include "partials/hero.html" %}
{% endblock %}


{% block container %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
  <section class="gallery-wrapper">
    <div id="filterMenu"></div>
    <div id="gallery-home"></div>

    <script type="module">
    import { Gallery } from '/assets/javascripts/components/GalleryHome.js';
    import { FilterMenu } from '/assets/javascripts/components/FilterMenu.js';
    const categories = [
      'All',
      'Articles',
      'Case studies',
      'Projects',
      'Resources',
      'Notebooks'
    ];
    const gallery = new Gallery('#gallery-home', '/assets/publications.json');
    gallery.init();
    new FilterMenu('#filterMenu', categories, cat => gallery.setFilter(cat));
    </script>
  </section>
{% endblock %}