<!-- Elements added to main will be displayed on all pages -->
{% extends "base.html" %}


<!-- More minimal footer -->
{% block footer %}
<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <!-- Copyright and theme information -->
            <div class="md-footer-copyright">
                {% if config.copyright %}
                <div class="md-footer-copyright__highlight">
                    {{ config.copyright }}
                </div>
                {% endif %}
            </div>
            {% block social %}
            {% include "partials/social.html" %}
            {% endblock %}
        </div>
    </div>
</footer>
{% endblock %}


<!-- Inject the publication date above the H1 on dated posts only -->
{% block content %}
{% if page.meta.date and not page.meta.template and not page.is_homepage %}
{% include "partials/post-date.html" %}
{% endif %}
{{ super() }}
{% endblock %}