#publicationsList ul li {
    padding: 0;
}

#publicationsList ul li p {
    margin: 0;
}

#publicationsList img {
    width: 100%;
    height: 250px; /* Fixed height */
    object-fit: cover; /* Crop the image to fit the container */
    margin-bottom: .1rem;
}